---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout
        page="experience"
        title="Experience"
        description="Lorem ipsum dolor sit amet"
        pageClass="page-blue"
>

  <h1>📈 Work</h1>

  <section>
    <h2>Developer – Woolman</h2>
    <p><strong>March 2024 – Present</strong></p>
    <ul>
      <li>Built custom Shopify themes with Liquid, HTML, CSS, JS, and React.</li>
      <li>Implemented analytics setups using GTM, GA4, Piwik, and CMPs.</li>
      <li>Worked on both solo builds and larger team projects.</li>
      <li>Integrated REST and GraphQL APIs for store features and 3rd-party tools.</li>
      <li>Used tools like ChatGPT, Cursor, and CoPilot daily to improve workflow.</li>
    </ul>
    <p><strong>Tech stack:</strong> Liquid, HTML, CSS, JS, React, GraphQL, REST</p>
    <p><strong>Tools:</strong> VSCode, Git, Teams, Slack, Jira, Teamwork, ChatGPT, Cursor, Copilot</p>
  </section>

  <hr />

  <section>
    <h2>Junior Developer – Woolman</h2>
    <p><strong>September 2023 – March 2024</strong></p>
    <ul>
      <li>Joined via Saranen Developer Academy after B.Sc. graduation.</li>
      <li>Started hands-on with Liquid, JS, HTML, and CSS from day one.</li>
      <li>Worked on both projects and support tasks.</li>
      <li>Learned the Shopify ecosystem and agency workflows under solid mentorship.</li>
      <li>Moved from junior to core contributor in under 6 months.</li>
    </ul>
    <p><strong>Tech stack:</strong> Liquid, HTML, CSS, JS</p>
    <p><strong>Tools:</strong> Teams, Slack, Jira, Teamwork</p>
  </section>

  <hr />

  <h1>🎓 Education</h1>

    <section>
    <h2>M.Sc. in Educational Information Technology</h2>
    <p><strong>University of Jyväskylä — starting in September 2025</strong></p>
    <ul>
      <li>TBD</li>
    </ul>
  </section>

  <section>
    <h2>B.Sc. in Mathematical Information Technology</h2>
    <p><strong>University of Jyväskylä — September 2016 - June 2023</strong></p>
    <ul>
      <li><strong>Major:</strong> Computer Science</li>
      <li><strong>Minor:</strong> Psychology</li>
      <li><strong>Thesis:</strong> <a href="https://jyx.jyu.fi/handle/123456789/81727" target="_blank">Esoteric Programming Languages</a></li>
    </ul>
  </section>

</Layout>

