---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout
  pageClass="page-red"
  description="Developer portfolio of Arttu Nikkilä — projects, skills, and experiments in web development and a cool blog."
>
  <h1>Hello,</h1>

  <p>
    I'm Arttu. In my current role as a developer I adapt to a wide range of
    situations deeply in the <em>client interface</em>, balancing technical
    expertise with customer-facing responsibilities in the field of eCommerce.
  </p>

  <p>
    This portfolio is a home for ongoing work, experiments, and ideas — things
    that don’t always fit inside a case study or a résumé.
  </p>

  <p>
    Feel free to check out my <a href="/projects">projects</a>, read about my <a
      href="/experience">experience</a
    >, or explore the <a href="/blog">blog</a>.
  </p>
</Layout>
