---
interface Props {
  title: string;
  place: string;
  timeframe: string;
}
const { title, place, timeframe } = Astro.props;
---

<section class="experience-item">
  <h3>{title}</h3>
  <h4>@{place}</h4>
  {
    timeframe && (
      <p>
        <strong>{timeframe}</strong>
      </p>
    )
  }
  <slot />
</section>

<style>
  .experience-item {
    margin-block: 2rem;
  }
</style>
