---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Arttu Nikkilä. All rights reserved.
  <div class="social-links">
    <a href="https://github.com/succabs" target="_blank" aria-label="GitHub">
      <svg
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          d="M12 0C5.37 0 0 5.37 0 12c0 5.3 3.438 9.8 8.205 11.385.6.113.82-.26.82-.577v-2.234c-3.338.724-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.744.082-.729.082-.729 1.205.086 1.838 1.24 1.838 1.24 1.07 1.835 2.807 1.305 3.492.997.107-.775.418-1.305.76-1.605-2.665-.304-5.466-1.332-5.466-5.931 0-1.31.469-2.382 1.236-3.221-.124-.303-.536-1.523.117-3.176 0 0 1.008-.322 3.3 1.23a11.5 11.5 0 0 1 6 0c2.29-1.552 3.295-1.23 3.295-1.23.655 1.653.243 2.873.12 3.176.77.84 1.234 1.911 1.234 3.221 0 4.609-2.804 5.625-5.475 5.922.43.372.823 1.102.823 2.222v3.293c0 .32.216.694.825.576C20.565 21.796 24 17.296 24 12c0-6.63-5.37-12-12-12z"
        ></path>
      </svg>
    </a>

    <a
      href="https://linkedin.com/in/arttu-nikkila"
      target="_blank"
      aria-label="LinkedIn"
    >
      <svg
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          d="M4.98 3.5a2.5 2.5 0 1 1 0 5.001 2.5 2.5 0 0 1 0-5.001zM3 8.98h3.96V21H3V8.98zM9.56 8.98H13v1.65h.05c.48-.9 1.65-1.85 3.4-1.85 3.63 0 4.3 2.39 4.3 5.49V21h-3.97v-5.8c0-1.38-.03-3.16-1.93-3.16-1.93 0-2.23 1.5-2.23 3.05V21H9.56V8.98z"
        ></path>
      </svg>
    </a>

    <a href="mailto:artnikkila@gmail.com" aria-label="Email">
      <svg
        width="32"
        height="32"
        viewBox="0 0 24 24"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          d="M20 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z"
        ></path>
      </svg>
    </a>
    <a href="/rss.xml" target="_blank" rel="noopener noreferrer">
      <span class="sr-only">Subscribe via RSS</span>
      <svg
        viewBox="0 0 24 24"
        width="32"
        height="32"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.18 17.82A2.18 2.18 0 1 1 4 15.64c1.2 0 2.18.98 2.18 2.18zm4.91.18a1.09 1.09 0 0 1-1.09-1.09c0-3.52-2.86-6.38-6.38-6.38a1.09 1.09 0 1 1 0-2.18c4.66 0 8.45 3.79 8.45 8.45 0 .6-.49 1.1-1.09 1.1zm4.91 0a1.09 1.09 0 0 1-1.09-1.09c0-6.52-5.3-11.82-11.82-11.82A1.09 1.09 0 0 1 2 3.82c8.1 0 14.73 6.63 14.73 14.73 0 .6-.49 1.09-1.09 1.09z"
        ></path>
      </svg>
    </a>
  </div>
</footer>

<style>
  footer {
    padding: 64px;
    background: var(--color-bg);
    color: var(--color-text);
    text-align: center;
    border-top: 6px solid var(--corner-color);
    margin: 0 auto;
    margin-top: 64px;
    font-size: 0.9rem;
    max-width: var(--max-width);
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1.5em;
    margin-top: 1.25em;
  }

  .social-links a {
    color: var(--color-text);
    transition: transform 0.2s ease;
  }

  .social-links a:hover {
    transform: scale(1.1);
  }
  .social-links a:hover svg {
    color: var(--accent);
    fill: var(--accent);
  }

  .social-links svg {
    display: block;
  }
</style>
