---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="site-header">
  <nav>
    <div class="menu-and-title">
      <button class="hamburger" id="hamburger-btn" aria-label="Menu toggle">
        <svg
          id="hamburger-icon"
          width="40"
          height="40"
          viewBox="0 0 100 100"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            class="bar top"
            x="15"
            y="25"
            width="70"
            height="10"
            rx="2"
            fill="#E53935"></rect>
          <rect
            class="bar middle"
            x="15"
            y="45"
            width="70"
            height="10"
            rx="2"
            fill="#1E88E5"></rect>
          <rect
            class="bar bottom"
            x="15"
            y="65"
            width="70"
            height="10"
            rx="2"
            fill="#FDD835"></rect>
        </svg>
      </button>

      <a href="/" class="site-title">{SITE_TITLE}</a>
    </div>
    <div id="nav-links" class="nav-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/experience">Experience</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/skills">Skills</HeaderLink>
      <HeaderLink href="/questbook">Questbook</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
  </nav>
</header>

<style>
  .site-header {
    padding: 64px 64px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
    border-bottom: 1px solid var(--color-gray);
  }

  .site-title {
    font-family: var(--font-heading);
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-text);
    text-decoration: none;
  }

  .nav-links {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
  }

  .nav-links a {
    font-family: var(--font-heading);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-text);
    text-decoration: none;
    position: relative;
  }

  .nav-links a::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: var(--accent);
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
    transform-origin: left;
    position: absolute;
    bottom: -4px;
    left: 0;
  }

  .nav-links a:hover::after,
  .nav-links a.active::after {
    transform: scaleX(1);
  }

  .hamburger {
    display: none;
  }

  @media (max-width: 720px) {
    .site-header {
      padding: 32px 16px 32px;
    }

    .menu-and-title {
      display: flex;
      flex-direction: row;
    }
    .hamburger {
      display: block;
      margin-right: 16px;
    }

    .hamburger svg {
      transition: transform 0.3s ease;
    }

    .hamburger .bar {
      transition:
        transform 0.3s ease,
        opacity 0.3s ease;
      transform-origin: center;
    }

    .hamburger.active .bar.top {
      transform: translateY(20px) rotate(45deg);
    }

    .hamburger.active .bar.middle {
      opacity: 0;
    }

    .hamburger.active .bar.bottom {
      transform: translateY(-20px) rotate(-45deg);
    }
    .nav-links {
      display: none;
    }
    .nav-links.show {
      display: flex;
      flex-direction: column;
      margin-top: 1em;
      gap: 1rem;
    }
  }
</style>

<!-- Run the script on the client -->
<script>
  import { setupHamburgerMenu } from "../scripts/hamburger.ts";
  setupHamburgerMenu();
</script>
