html,
body {
  display: flex;
  flex-direction: row;
  text-align: center;
}

h1,
h3,
h4 {
  text-align: left;
}

p {
  text-align: left;
}

/* CSS styles for the game canvas */
canvas {
  border: 1px solid black;
  max-width: 800px;
  max-height: 600px;
}

ul {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}

.footer {
  text-align: center;
  border-top: 1px solid black;
}
.footer p {
  text-align: center;
}

@media screen and (max-width: 768px) {
  html,
  body {
    flex-direction: column;
  }

  .container {
    padding-top: 1rem;
  }

  canvas {
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}
