html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  text-align: center;
  min-height: 100vh;
  width: 100%;
}

body {
  flex-wrap: wrap;
}

h1,
h3,
h4 {
  text-align: left;
}

p {
  text-align: left;
}

/* CSS styles for the game canvas */
canvas {
  border: 1px solid black;
}

ul {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  width: 65ch;
  max-width: 65ch;
  display: block;
}

.footer {
  text-align: center;
  border-top: 1px solid black;
}
.footer p {
  text-align: center;
}

@media screen and (max-width: 768px) {
  body {
    flex-direction: column;
  }

  #thegame {
    width: 100%;
    min-width: 100%;
    display: block;
  }

  canvas {
    display: block;
    margin: 0 auto;
    border: none;
  }
}

@media screen and (max-width: 768px) {
  .virtual-button {
    width: 100px;
    height: 60px;
    font-size: 24px;
  }
}
